* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Verdana, Tahoma;
}

.hero {
    background-color: #1f2937;
    color: #fff;
    padding: 20px 200px;
}

.hero-page {
    display: flex;
    padding: 100px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
}

.navigation p {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.navigation ul li {
    display: inline;
    list-style: none;
    margin: 0 5px;
}

.hero-page h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    line-height: 40px;
    padding-bottom: 30px;
}

.hero-img {
    width: 500px;
    height: auto;
    margin-left: 50px;
}

.hero-text {
    width: 450px;
}

.hero-text p {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

.hero-btn {
    padding: 10px 20px;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    text-decoration: none;
}


/* SECTION 2 "MORE-PRODUCTS" */

.more-products {
    background-color: #f9faf8;
    padding: 100px 200px;
}

.more-products h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 20px;
}

.more-products h3 {
    text-align: center;
    font-size: 16px;
    color: #1f2937;
    margin-top: 10px;
}

.more-products-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.more-products-container .more-products-item {
    width: 200px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.more-products-container .more-products-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* SECTION 3 'quote' */

.quote {
    background-color: #e5e7eb;
    padding: 100px 350px;
}

.quote .quote-text {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.quote .quote-author {
    text-align: right;
    font-size: 16px;
    color: #1f2937;
}

/* SECTION 4 Call to action */

.call-to-action {
    padding: 100px 350px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px;
    color: #f9faf8;
}

.cta-texts p {
    font-size: 14px;
}

.second-button {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    text-decoration: none;
}


/* FOOTER */

footer {
    background-color: #1f2937;
    padding: 20px 350px;
    color: #f9faf8;
    text-align: center;
    font-size: 10px;
}